.container
  .columns.is-vcentered
    .column.is-6
      p Welcome to my site!
      p I am a 3D artist specializing in <b>product modeling and visualization</b>. I can create photo-realistic images of your product, with which we can clearly convey what it does and how it does it to your prospective customers and investors.
      p Please feel free to contact me. We can discuss how I can aid your business both in written and verbal form.

      br

      p Email: eugene.chernov.3d@gmail.com

      br
      
      ul.icons
        li(v-for="icon in icons")
          a(:href="icon.link")
            img(:src="icon.image")

    .column.is-6
      figure.image.is-4by3
        img(:src="face")
